<%= simple_form_for(@kitchen) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :host %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :availability %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
