<div class="row">
<div class="col-md-6">
  <%= image_tag @kitchen.image.url(:original), class: "img-responsive" %>
</div>

<div class="col-md-6">
<h3><%= @kitchen.host %> at <%= @kitchen.location %></h3>
<p><%= @kitchen.description %></p>
<h4 class="text-center">$<%= @kitchen.price.to_f / 100 %></h4>
</div>
</div>


<%= link_to 'Edit', edit_kitchen_path(@kitchen) %> |
<%= link_to 'Back', kitchens_path %>
