<div class="row">
<div class="col-md-6">
  <%= image_tag @kitchen.image.url(:original), class: "img-responsive" %>
</div>

<div class="col-md-6">
<h3><%= @kitchen.host %> at <%= @kitchen.location %></h3>
<p><%= @kitchen.description %></p>
<h4 class="text-center">$<%= @kitchen.price.to_f / 100 %></h4>

<%= form_tag buy_path(slug: @kitchen.slug) do %>
<script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-amount="<%= @kitchen.price %>"
    data-name="TheFoodCorridor"
    data-description="<%= @kitchen.host %>"
    data-email="<%= current_user.email %>">
  </script>
<% end %>

</div>
</div>


<%= link_to 'Edit', edit_kitchen_path(@kitchen) %> |
<%= link_to 'Back', kitchens_path %>
